@inherits LayoutComponentBase

<div class="h-screen w-screen bg-soft-bg dark:bg-dark-bg text-gray-800 dark:text-dark-text font-sans overflow-y-auto transition-colors duration-300">
    <main class="h-full w-full">
        @Body
    </main>
</div>